*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.top-bar {
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: #444444;
  margin-bottom: 0;
}

.top-bar .name h1 a {
  line-height: 1.8rem;
  font-size: 1.8rem;
  color: white;
  border-color: white;
  border-style: solid;
  border-width: 4px;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
}

@media only screen and (min-width: 40.063em) {

  .top-bar .name h1 a {
    width: auto;
  }
}

.top-bar .name h1 a {
  font-weight: normal;
  color: white;
  display: block;
  padding: 0;
}

.title-area h1 a {
  text-decoration: none;
}

.contain-to-grid .top-bar {
  max-width: 46.875rem;
}

.contain-to-grid .top-bar {
  margin-bottom: 0;
}

.top-bar {
  background-color: #444444;
  height: 5.3rem;
}

@media only screen and (min-width: 40.063em) {
  .top-bar .title-area {
    float: left;
  }
}

.top-bar .title-area {
  position: relative;
  margin: 0;
}

.top-bar ul {
  margin-bottom: 0;
  list-style: none;
}

.top-bar .name {
  height: 45px;
  margin-left: 1rem;
  margin-top: 0.6rem;
}

.top-bar .name {
  height: 45px;
  margin: 0;
  font-size: 16px;
}

.top-bar-section {
  clear: both;
}

@media only screen and (min-width: 40.063em) {

  .top-bar-section {
    transition: none 0 0;
    left: 0 !important;
  }
}
/* 
.top-bar-section {
  left: 0;
  position: relative;
  width: auto;
  transition: left 300ms ease-out;
} */

/* 
@media only screen and (min-width: 40.063em) {
  .top-bar-section ul {
    width: auto;
    height: auto !important;
    display: inline;
  }
} */

.left {
  float: left !important;
}

.top-bar-section ul {
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  background: #333333;
  font-size: 16px;
  margin: 0;
}

@media only screen and (min-width: 40.063em) {
  .top-bar-section ul li {
    float: left;
  }
}